.terraform/
*.tfstate
*.tfstate.*
*.tfplan
.terraform.lock.hcl
.DS_Store
.env
**/.terraform/*
crash.log
crash.*.log
*.tfvars
*.tfvars.json

# Generated policy files
infra/terraform/envs/dev/iam_policy*.json
